# Python leftovers
*.py[cod]
__pycache__

# Default developer database
/db.sqlite3

# See README.md
**/migrations/*
# migrations/__init__.py is required to make `python3 manage.py makemigrations`
# work without listing all apps.
!**/migrations/__init__.py
