asgiref==3.8.1
cairocffi==1.6.1
CairoSVG==2.7.1
cffi==1.16.0
cssselect2==0.7.0
defusedxml==0.7.1
Django==5.0.3
django-environ==0.11.2
django-taggit==5.0.1
pillow==10.2.0
pycparser==2.21
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.10.0
webencodings==0.5.1
