/*
 * Page setup
 */
@use 'constants';
@use 'theme_switch';
@use 'top_navbar';
@use 'footer';

/*
 * Page sizing
 */
body {
    max-width: 65rem;
    padding: 2rem;
    margin: 0 auto;
}

/*
 * Stretch page vertically
 */
body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;

    /*
     * Make page layout instantaneous
     */
    transition: min-height step-start;
}

footer {
    margin-top: auto;
}

/*
 * Background
 */
body {
    background: var(--bg), var(--bg-start);
}

/*
 * Header
 */
header {

    /*
     * Layout
     */
    display: grid;
    grid-template-areas:
        "title theme"
        "nav   nav  ";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    > h1 {
        grid-area: title;
        align-self: center;
        justify-self: start;
    }
    > #theme-buttons-wrapper {
        grid-area: theme;
        align-self: center;
        justify-self: end;
    }
    > nav {
        grid-area: nav;
        min-width: 0;
    }

    $title-size: 3rem;

    /*
     * Title font
     */
    > h1 {
        font-family: var(--font-serif);
        font-size: $title-size;
        font-weight: bold;
    }

    /*
     * Title layout
     */
    > h1 {
        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        > picture > img {
            height: calc(constants.$glyph-height / 1rem * $title-size);
        }
    }

}
