/*
 * Reset some common properties
 */
* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.01px; // Make borders and outlines (rip Safari) rounded
    outline: none;
    color: inherit;
    background: transparent;
    font-size: 1rem;
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

/*
 * Apply fonts
 * TODO monospaced
 */
body {
    font-family: var(--font-sans-serif);
}

/*
 * Neutralize headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);
    font-weight: normal;
}
