@use 'sass:color';

/*
 * Theme definitions
 */
@mixin theme-light-def {
    --color-bg-top: #f5f8fa;
    --color-bg-bottom: #aac5d5;
    $color-fg: #333333;
    --color-fg: #{$color-fg};
    --color-fg-deemph: #{color.change($color-fg, $alpha: 0.5)};
}

@mixin theme-dark-def {
    --color-bg-top: #30383c;
    --color-bg-bottom: #2b4757;
    $color-fg: #dddddd;
    --color-fg: #{$color-fg};
    --color-fg-deemph: #{color.change($color-fg, $alpha: 0.5)};
}

/*
 * Select theme
 */

// Default
@media not (prefers-color-scheme: dark) {
    body {
        @include theme-light-def;
    }
}

// Use dark theme if preferred
@media (prefers-color-scheme: dark) {
    body {
        @include theme-dark-def;
    }
}

// Regardless of either, use forced theme
body.theme-light {
    @include theme-light-def;
}
body.theme-dark {
    @include theme-dark-def;
}

/*
 * Apply theme
 */
body {
    color: var(--color-fg);
    background: var(--color-bg);
}
