{% extends "viewmodule/viewmodule_base.html" %}
{% load static %}

{% block title %}Submissions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'submissions.css' %}" />
{% endblock %}

{% block main_script_src %}
    <script src="{% static 'submissions.bundle.js' %}"></script>
{% endblock %}

{% block jsrender_templates %}

    <script id="tmpl-index" type="text/x-jsrender">
        <%!-- Submissions index toolbar and container --%>
        <div id="toolbar">
            <div id="search-and-filter">
                <div>
                    <label for="search">Search</label>
                    <input type="search" id="search" name="search"/>
                </div>
            </div>
            <div id="statistics">
                <div>
                    Visible
                    <span id="visible-count">?</span>
                    /
                    <span id="submissions-count">?</span>
                    entries
                </div>
            </div>
        </div>
        <ul id="submission-list">
            <li>Loading...
        </ul>
    </script>

    <script id="tmpl-index-entry" type="text/x-jsrender">
        <%!-- Submissions index loaded entry --%>
        <li>
            <span class="id-label">ID</span>
            <span class="id"><%>revision_of_id%></span>

            <span class="name-label">Name</span>
            <span class="name"><%>name ?? 'Untitled'%></span>

            <span class="revision-label">Map version</span>
            <span class="revision"><%>revision_string%></span>

            <span class="minecraft-versions-label">for</span>
            <span class="minecraft-version-min"><%mcver:minecraft_version_min_id%></span>
            <%if minecraft_version_min_id !== minecraft_version_max_id %>
                <span class="minecraft-versions-separator">&ndash;</span>
                <span class="minecraft-version-max"><%mcver:minecraft_version_max_id%></span>
            <%/if%>

            <span class="authors-label">Authors</span>
            <span class="authors">
                <%for authors tmpl="#tmpl-inline-profile" /%>
            </span>

            <a href="<%:revision_of_id%>">Details</a>
        </li>
    </script>

    <script id="tmpl-details" type="text/x-jsrender">
        <%!-- Submission details --%>
        <nav>
            <a href="./">All Submissions</a>
        </nav>
        <h1>
            <span id="id"><%>revision_of_id%></span>
            <span id="name"><%>name ?? 'Untitled'%></span>
        </h1>
        <div id="meta">
            <h2 id="meta-header">Information</h2>
            <span class="authors-label">Authors</span>
            <span class="authors">
                <%for authors tmpl="#tmpl-inline-profile" /%>
            </span>

            <span class="submitted-by-label">Submitted by</span>
            <span class="submitted-by">
                <%include submitted_by tmpl="tmpl-inline-profile" /%>
            </span>

            <span id="revision-label">Map version</span>
            <span id="revision"><%>revision_string%></span>

            <span class="minecraft-versions-label">for</span>
            <span class="minecraft-version-min"><%mcver:minecraft_version_min_id%></span>
            <%if minecraft_version_min_id !== minecraft_version_max_id %>
                <span class="minecraft-versions-separator">&ndash;</span>
                <span class="minecraft-version-max"><%mcver:minecraft_version_max_id%></span>
            <%/if%>
        </div>
        <div id="description">
            <h2 id="rules-label">Rules</h2>
            <div id="rules"><%>rules%></div>

            <h2 id="author-notes-label">Author Notes</h2>
            <div id="author-notes"><%>author_notes%></div>

            <h2 id="editors-comment-label">Editors' Comment</h2>
            <div id="editors-comment"><%>editors_comment%></div>
        </div>
        <div id="appearances">
            <h2 id="appearances-header">Appearances</h2>
            <ul id="appearances-list">
                <li>Loading...
            </ul>
        </div>
    </script>

    <script id="tmpl-appearance" type="text/x-jsrender">
        <%!-- Appearance entry in submission details --%>
        <li class="
                role-<%attr:role%>
                validity-<%attr:validity ?? 'na'%>
                <%if revision.revision_of.latest_revision !== revision_id %>
                    outdated
                <%/if%>
        ">
            <h3><%>~app_roles[role]%></h3>
            <span class="authors-label">by</span>
            <span class="authors">
                <%for authors tmpl="#tmpl-inline-profile" /%>
            </span>

            <span class="id-label">ID</span>
            <span class="id"><%>id%></span>

            <span class="link-label">Link</span>
            <span class="link"><%>url%></span>

            <%if revision.revision_of.latest_revision !== revision_id %>
                <span class="outdated-label">Outdated:</span>
                <span class="outdated"><%>revision.revision_string%></span>
            <%/if%>

            <span class="submitted-by-label">Submitted by</span>
            <span class="submitted-by"><%>submitted_by.display_name%></span>
        </li>
    </script>

    <script id="tmpl-inline-profile" type="text/x-jsrender">
        <%!-- An inline profile widget.

        Requires only basic Profile fields.
        --%>
        <span class="inline-profile">
            <img src="wip" alt="<%attr:display_name%>'s avatar">
            <span class="display-name"><%>display_name%></span>
        </span>
    </script>

{% endblock %}
