<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>KenDB</h1>
            <nav>
                <ul id="header-links-list">
                    <li><a href="https://example.org">Something</a>
                    <li><a href="https://example.org">More</a>
                    <li><a href="https://example.org">Links!</a>
                </ul>
            </nav>
            <div id="theme-buttons-wrapper" aria-hidden="true" tabindex="0">
                <div id="theme-buttons"></div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div id="copyright">&copy; OLEGSHA 2023</div>
            <ul id="footer-links-list">
                <li><a href="https://example.org">Something</a>
                <li><a href="https://example.org">More</a>
                <li><a href="https://example.org">Links!</a>
            </ul>
        </footer>
    </body>
</html>
