{% load static git %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        {% include 'javascript_pipeline/favicons.html' %}
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>
                <picture>
                    <source srcset="{% static 'logo.svg' %}"
                            type="image/svg+xml" />
                    <img src="{% static 'logo.png' %}"
                         alt="Visit homepage"
                         data-dont-tag>
                </picture>
                KenDB
            </h1>
            <nav>
                <input type="checkbox" id="header-links-expand"
                       autocomplete="off" hidden/>
                <ul id="header-links-list">
                    <li id="header-links-expand-wrapper">
                        <label for="header-links-expand"
                               aria-hidden="true"></label>
                    <li><a href="https://example.org">Something</a>
                    <li><a href="https://example.org">Unprotected SQL</a>
                    <li><a href="https://example.org">XSS</a>
                    <li class="current">
                        <a href="https://example.org">Submissions</a>
                    <li><a href="https://example.org">Gateway into LAN</a>
                </ul>
            </nav>
            <div id="theme-buttons-wrapper" aria-hidden="true" tabindex="0">
                <div id="theme-buttons"></div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <ul id="footer-links-list">
                <li><a href="https://github.com/OLEGSHA/KenDB3">Source code</a>
                <li><a href="https://example.org">Left Foot</a>
                <li><a href="https://example.org">Right Foot</a>
            </ul>
            <div id="copyright">
                <span style="
                    transform: scaleX(-1);
                    display: inline-block;
                ">&copy;</span>
                OLEGSHA 2023-2024
                &bullet;
                <a href="{% static 'LICENSE.txt' %}">AGPLv3-or-later</a>
                &bullet;
                <a href="https://github.com/OLEGSHA/KenDB3/commit/{% git_sha %}" id="git_data">{% git_ref %}/{% git_sha %}</a>
            </div>
        </footer>
    </body>
</html>
